.user-details{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.user-details-table{
    width: 100%;
    height: 250px;
    /* border: 2px solid red; */
}

.user-details-info{
    width: 45%;
    /* border: 3px solid blue; */
    height: 200px;
}

.user-details-filed{
    font-size: 22px;
    margin: 10px 0;
}

.user-details-input{
    font-size: 22px;
    width: 70%;
    margin: 3.5px 0;
}

.user-fields-text{
    float: left;
    width: 30%;
}

.user-fields-input{
    float: right;
    width: 70%;
}
